body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1F2720;
  color: #FFFFFF; /* White font for better contrast */
  height: 100vh; /* 100% viewport height */
}

header, footer {
  background-color: #353D36;
}

a {
  color: inherit;
  text-decoration: none;
}

#root, #__next {
  height: 100%;
}
